*{
    margin:0;
    padding:0;
}

.header{
    /* position: fixed; */ position:relative;
    width: 100%;
    text-align: center;
    background-color: rgb(90, 25, 25);
    color: rgb(240, 196, 175);
    font-size: 70px;
    margin:0;
    padding: 0;
}

.footer{
    padding: auto;
    text-align: center;
    background-color: rgb(90, 25, 25);
    color: rgb(255, 255, 255);
    font-size: 15px;
    position:fixed;
    bottom:0px;
    width:100%
}

.dropdown-btn {
    background-color: #3f4141;
    color: white;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-items {
    display: none;
    position: absolute;
    background-color: #9fa1a1;
    min-width: 160px;
    z-index: 1;
 }
 .nav-bar{
    background-color: #3f4141;
    /* position:fixed; */position:relative;
    /* top:80px; */
    width: 100%;
    z-index: 9999;
 }
 .nav-item,.tohide{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
 }
 .tohide{
    display: block;
 }
 .nav-item{
    display: inline-block;
 }
 .tohide:hover{
    background-color: burlywood;
 }
 .dropdown-menu:hover .menu-items {
    display: block;
 }
 .dropdown-menu:hover .dropdown-btn {
    background-color: black;
 }

 .nav-item:hover {
    background-color: rgb(0, 0, 0);
 }

 /* .sectionHeadNav{
   position:fixed;
   top:0px;
 } */

  .images{
   /* top: 134px;  */
   /* position:fixed; */position:relative;
   width: 100%;
   height: 410px;
   border: 2px;
   border-color: steelblue;
   border-style: solid;
   overflow-x: hidden;
   /* margin: 10% auto; */
 } 
  
 .images img{
   display: block;
 }

 .imgbox{
   list-style: none;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   animation: animate 30s ease-in-out infinite;
   object-fit: fill;
 }

 .imgbox:hover{
   animation-play-state: paused;
 }

 @keyframes animate {
   0%,10%{
      transform: translateX(0);
   }

   20%, 30%{
      transform: translateX(-1080px);
   }
   
   40%, 50%{
      transform: translateX(-2160px);
   }

   60%, 70%{
      transform: translateX(-3240px);
   }

   80%, 90%{
      transform: translateX(-4320);
   }
   
   100%{
      transform:translateX(-5400);
   }
   
 }

 .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
   border:2px;
   border-style: groove;
 }

 .card:hover{
   transform: scale(1.05);
 }
 
 .price, .offer{
   color: blue;
   font-size: 18px;
   text-align:left;
 }
 
 .card button {
   border:solid;
   border-width:2px;
   outline: 0;
   padding: 12px;
   /* background-color: wheat;
   color:brown; */
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 
 .card button:hover {
   opacity: 0.7;
 }

 .card button:active{
   background-color:rgb(250, 234, 230);
   border-color:rgb(0, 255, 76);
 }
 
 .card button:after{
   background-color:rgb(250, 234, 230);
   border-color:rgb(0, 255, 76);
 }

 .product{
 width:100%;
 height:200px;
 }
 
 * {
   box-sizing: border-box;
 }
 
 .product-list {
   float: left;
   width: 25%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .care::after {
   content: "";
   clear: both;
   display: table;
 }

.care{
   position: relative;
}