.header{
    padding: 0.01px;
    text-align: center;
    background-color: rgb(90, 25, 25);
    color: rgb(240, 196, 175);
    font-size: 30px;
}

.footer{
    padding: auto;
    text-align: center;
    background-color: rgb(90, 25, 25);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(70, 68, 68) 
}

li{
    float:left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
}